#product-page {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: left;
    width: 70%;
    border: 1px solid;
}

#product-image {
    width: 38.5%;
    aspect-ratio: 1;
    margin-right: 1.5%;
}

#product-info {
    width: 33%;
    margin-right: 2%;
    border: 1px solid rgb(233, 233, 233);
}

#product-actions {
    width: 25%;
    border: 1px solid rgb(233, 233, 233);
}

#action-buttons {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 8px;
    width: 75%;
    border: 1px solid rgb(233, 233, 233);
}

#quantity-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#quantity-input {
    max-width: 50%;
}